@model AIS_WEB.Models.PlantViewModel


<div class="main">
    <div class="row">
        <h2>Edit ID: @Model.ID</h2>
        <form method="post">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
                </div>
                <div class="form-group">
                    <label for="SoilMoistureMin">Minimul soil moisture</label>
                    <input type="text" class="form-control" id="SoilMoistureMin" name="SoilMoistureMin" value="@Model.SoilMoistureMin">
                </div>
                <div class="form-group">
                    <label for="SoilMoistureMax">Maximum soil moisture</label>
                    <input type="text" class="form-control" id="SoilMoistureMax" name="SoilMoistureMax" value="@Model.SoilMoistureMax">
                </div>
                <div class="form-group">
                    <label for="SunlightMin">Minimum sunlight</label>
                    <input type="text" class="form-control" id="SunlightMin" name="SunlightMin" value="@Model.SunlightMin">
                </div>
                <div class="form-group">
                    <label for="SunlightMax">Maximum sunlight</label>
                    <input type="text" class="form-control" id="SunlightMax" name="SunlightMax" value="@Model.SunlightMax">
                </div>
                <div class="form-group">
                    <label for="Category">Category</label>
                    <input type="text" class="form-control" id="Category" name="Category" value="@Model.Category">
                </div>
                <div class="form-group">
                    <label for="ID_Type">ID_Type</label>
                    <input type="text" class="form-control" id="ID_Type" name="ID_Type" value="@Model.ID_Type">
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>

            <div class="col-md-6">
                <!--<img src="@Model.Pic_url" width="100%" alt="Plant" />-->
                <input type="text" class="form-control" id="picUrl" name="Pic_url" value="" placeholder="URL to picture">
            </div>
            <input type="hidden" class="form-control" name="ID" id="ID" value="@Model.ID">
            <input type="hidden" class="form-control" name="SoilMoistureNow" id="SoilMoistureNow" value="@Model.SoilMoistureNow">
            <input type="hidden" class="form-control" name="SunlightNow" id="SunlightNow" value="@Model.SunlightNow">
            <input type="hidden" class="form-control" name="StartDate" id="StartDate" value="@Model.StartDate">
            <input type="hidden" class="form-control" name="Updated" id="Updated" value="@Model.Updated">
        </form>
    </div>
</div>


