@model List<AIS_WEB.Models.PlantViewModel>
@{
    ViewBag.Title = "PlantOrNot";
}


<div class="main">
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <h2>My Plants</h2>
            </div>
            <div class="col-md-6">
                <form>
                    <button id="delete" type="submit" formaction="/Plant/create/">Create new</button>
                </form>
            </div>
        </div>
        <div class="row">

            @foreach (var item in @Model)
            {
                <div class="col-md-4" id="MyCard">
                    <div class="card" style="width: 25rem">
                        <img class="card-img-top" src="http://img.tradera.net/images/761/243536761_8d2b401b-b3c6-474c-819e-b513b4cc1cce.jpg" width="100%" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">@item.Name </h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="SoilMoistureNow"><p>Moisture: @item.SoilMoistureNow  (Min: @item.SoilMoistureMin Max: @item.SoilMoistureMax)</p></li>
                                <li class="list-group-item" id="SunlightNow"><p>Sunlight: @item.SunlightNow  (Min: @item.SunlightMin Max: @item.SunlightMax)</p></li>
                                <li class="list-group-item" id="StartDate"><p>StartDate: @item.StartDate</p></li>
                                <li class="list-group-item" id="Category"><p>Category: @item.Category</p></li>
                                <li class="list-group-item" id="Updated"><p>Updated: @item.Updated</p></li>
                                <li class="list-group-item">
                                    <div class="card-block text-center">
                                        <form>
                                            <button id="edit" type="submit" formaction="/Plant/edit/@item.ID">Edit</button>
                                            <button id="delete" type="submit" formaction="/Plant/delete/@item.ID">Delete</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>


