<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/knockout-2.0.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header row">
                @Html.ActionLink("AIS - Automatic Irrigation System", "PlantOrNot", "Plant", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <form class="pull-right">
                <button id="delete" class="btn btn-primary" type="submit" style="height:40px" formaction="/Plant/create/">Create new Plant</button>
            </form>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AIS Systems</p>
        </footer>
    </div>

  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
